.section {
    padding: 150px 0;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 85px;
  }


  
  .section-title h2 {
    font-size: 48px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
    color: #7d71d3;
  }
  
  .section-title p {
    font-size: 14px;
    letter-spacing: 0;
    /* line-height: 22px; */
    color: #999999;
  }
  
  @media (max-width: 480px) {
    .section-title p {
      width: 100%;
    }
  }
  
  .page-title {
    text-align: center;
  }
  
  .feature .feature-item .icon {
    margin-bottom: 15px;
  }
  
  .feature .feature-item .icon i {
    font-size: 48px;
    color: #7d71d3;
  }
  
  .feature .feature-item .content h5 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 17px;
    color: black;
  }
  
  .feature .feature-item .content p{
    font-size: 14px;
    letter-spacing: 0;
    /* line-height: 22px; */
    color: #999999;
  }

  .feature .feature-item:not(:last-child) {
    margin-bottom: 60px;
  }
  
  @media (max-width: 768px) {
    .feature .feature-item {
      margin-bottom: 60px;
    }
  }
  
  .feature .app-screen {
    margin: 20px 0;
  }
  
  .feature .app-screen img {
    max-height: 400px;
  }
